@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
h1 {
    font-family: 'Josefin Sans';
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 2.25rem;
    font-weight: 700;
}

h4 {
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 700;
}


.buttons {
    background-color: rgb(220, 66, 28);
    display: inline-block;
    padding-top: 16px;
    height: 32px;
}

.buttons a {
    color: black;
    font-weight: bolder;
    padding: 0px 30px 0px 30px;
}

.buttons:nth-child(n+5) {
    margin-left: -4px;
    background-color: rgba(244,247,234,255);
}

.buttons:first-of-type a {
    color: white;
}

.buttons:nth-child(-n+4){
    border-radius: 5px 0 0 5px;
}

.buttons:nth-child(7) {
    border-radius: 0px 5px 5px 0px;
}

.heart {
    position: absolute;
}

.text-buttons {
    text-decoration: none;
}

.text-buttons:hover{
    text-decoration: underline;
    color: rgb(220, 66, 28);
}

#lasagna-img {
    margin-top: 30px;
    height: 325px;
    width: 575px;
    margin-bottom: 40px;
}

#add-photo {
    border-style:dashed;
    width: 100px;
    height: 50px;
    border-color: gray;
    border-width: 1.25px;
}

#camera {
    aspect-ratio: 1;
    width: 20px;
    margin-bottom: -20px;
}

.card {
    background-color: rgba(244,247,234,255);
    width: 575px;
    height: 220px;
    margin-top: 50px;
}

.sub-card {
    display: inline-block;
    margin-right: 80px;
}

.sub-card p {
    font-size: .9rem;
    font-family: 'Poppins';
    margin-left: 20px;
    
}

.sub-card p:first-child {
    font-weight: bolder;
}

.sub-card p:nth-child(2) {
    margin-top: -10px;
}

.card hr {
    width: 93%;
}

#nutrition {
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: 'Poppins';
    font-size: 13px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;
}

#intro-text {
    width: 40%;
}

#intro-text p {
    font-size: .9em;
    font-family: 'Source Sans 3';
}

#sub-nutrition-card {
    width: 40%;
}

#sub-nutrition-card p {
    font-family: 'Source Sans 3';
    font-size: .9em;
}

li {
    color: rgb(232, 188, 12);
    margin-left: -20px;
}

li p {
    color: black;
    font-family: 'Source Sans 3';
    font-size: 1rem;
}

#ingredients {
    width: 25%;
}

.direction-p {
    font-family: 'Source Sans 3';
    font-weight: 300;
    margin-top: -20px;
    width: 45%;
    font-size: 1rem;
}