@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
#everything {
    margin-left: 15%;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 2.8rem;
    font-weight: 700;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 2.25rem;
    font-weight: 700;
}

h4 {
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 700;
}

nav {
    background-color: white;
    position: sticky;
    top: 0;
    overflow: auto;
    margin-top: 25px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

nav a{
    padding-left: 35px;
    text-decoration: none;
    color: black;
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(220, 66, 28);
    text-underline-offset: 4px;
}

.sub-nav {
    display: inline-block;
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.sub-nav:nth-child(odd) {
    text-decoration: none;
}

.sub-nav:nth-child(odd):hover {
    text-decoration: underline;
    text-decoration-color:rgb(220, 66, 28);
    text-underline-offset: 4px;
}

.sub-nav:nth-child(even) {
    margin-left: 7px;
    margin-right: 7px;
}

.buttons {
    background-color: rgb(220, 66, 28);
    display: inline-block;
    padding-top: 16px;
    height: 32px;
}

#intro-text-width {
    width: 91%;
}

#itext {
    width: 590px;
    font-family: 'Source Sans 3';
    font-size: 1.125rem;
    font-weight: 300;
}

#intro-text-width > p {
    color: black;
    font-family: 'Source Sans 3';
    font-size: 14px;
}

#chef-john {
    text-decoration: underline;
    color: black;
    text-decoration-color: rgb(220, 66, 28);
    text-underline-offset: 4px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Source Sans 3';
}

span.date {
    color: rgb(107, 106, 106);
}

.buttons a {
    color: black;
    font-weight: 600;
    padding: 0px 30px 0px 30px;
    font-family: 'Source Sans 3';
}

#b1 {
    color: white;
}

.buttons:nth-child(n+5) {
    margin-left: -4px;
    background-color: rgba(244,247,234,255);
}

.buttons:nth-child(-n+4){
    border-radius: 5px 0 0 5px;
}

.buttons:nth-child(7) {
    border-radius: 0px 5px 5px 0px;
}

.text-buttons {
    text-decoration: none;
}

.text-buttons:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:rgb(220, 66, 28);
}

#lasagna-vid {
    margin-top: 30px;
    height: 325px;
    width: 590px;
    margin-bottom: 40px;
}

#add-photo {
    border-style:dashed;
    width: 100px;
    height: 60px;
    border-color: gray;
    border-width: 1.25px;
}

#add-photo p {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans 3';
    font-size: 12px;
}

#camera {
    aspect-ratio: 1;
    width: 20px;
    padding-top: 12px;
    display: flex;
    margin: auto;
}

.card {
    background-color: rgba(244,247,234,255);
    width: 590px;
    height: 280px;
    margin-top: 50px;
}

.sub-card {
    display: inline-block;
    margin-right: 80px;
    margin-top: 10px;
}

.sub-card p {
    font-size: 1.120rem;
    font-family: 'Source Sans 3';
    margin-left: 20px;
    
}

.sub-card p:first-child {
    font-weight: 600;
}

.sub-card p:nth-child(2) {
    margin-top: -16px;
    font-weight: 300;
}

.card hr {
    width: 93%;
    border-color: rgb(163, 160, 160);
    opacity: 20%;
}

#nutrition {
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 400;
    margin-top: 23px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

#nutrition:hover {
    text-decoration-thickness: 2px;
}   

#intro-text {
    width: 55%;
}

#intro-text p {
    font-size: 1.125em;
    font-family: 'Source Sans 3';
}

#sub-nutrition-card {
    width: 40%;
}

#sub-nutrition-card p {
    font-family: 'Source Sans 3';
    font-size: 1.125em;
    width: 590px;
    font-weight: 300;
}

li {
    color: rgb(232, 188, 12);
    margin-left: -20px;
}

li p {
    color: black;
    font-family: 'Source Sans 3';
    font-size: 1.125rem;
    font-weight: 300;
}

#ingredients {
    width: 25%;
    margin-bottom: 60px;
}

.direction-p {
    font-family: 'Source Sans 3';
    font-weight: 300;
    margin-top: -20px;
    width: 590px;
    font-size: 1.125rem;
    margin-bottom: 30px;
}

#credits {
    font-family: 'Source Sans 3';
    color: rgb(122, 122, 122);
    font-size: 11px;
    margin-top: -0.5px;
}

#finished-img {
    width: 590px;
    height: auto;
}

#final-button button {
    background-color: white;
    width: 39%;
    height: 45px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(220, 66, 28);

}

#final-button {
    width: 62%;
    margin-top: 50px;
    margin-bottom: 40px;
}

#final-button button:first-child {
    background-color: rgb(220, 66, 28);
    color: white;
    font-size: 15px;
    font-family: 'Source Sans 3';
    margin-right: 5px;
    font-weight: 600;
}

#final-button button:nth-child(2) {
    font-size: 15px;
    font-family: 'Source Sans 3';
    margin-left: 5px;
    font-weight: 600;
}

#final-button button:first-child:hover {
    background-color: rgb(175, 53, 22);
    border-style: none;
}

#final-button button:nth-child(2):hover {
    background-color: rgb(220, 66, 28);
    color: white;
}

#final-button hr {
    width: 80%;
    margin-left: 0px;
    margin-top: 40px;
    border-width: 0.5px;
}

.nheading {
    display: inline;
}

.nheading:nth-child(2) {
    font-family: 'Source Sans 3';
    font-weight: 300;
}

.nfacts {
    display:inline-block;
    font-family: 'Source Sans 3';
    font-weight: 300;
}

.nfacts p:first-of-type {
    font-weight: 700;
    margin-bottom: -15px;
}

.nfacts:nth-child(even) {
    margin-left: 120px;
    margin-right: 110px;
}

#nfacts-div + a {
    font-family: 'Source Sans 3';
    text-decoration: underline;
    color: black;
    text-decoration-color: rgb(220, 66, 28);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    font-weight: 300;
}

#nfacts-div + a:hover {
    text-decoration-thickness: 2px;
}


#nfacts-div {
    margin-bottom: 10px;
}

#outer-color {
    width: 590px;
    height: 550px;
    margin-bottom: 20px;
}

a#cg {
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: rgb(220, 66, 28);
}

a#cg:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#inner-color {
    background-color: white;
    height: 500px;
    border: 25px solid #f5f6ea;
}

#star-click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
}

#inner-color button {
    background-color: rgb(220, 66, 28);
    border-style: none;
    color: white;
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Source Sans 3';
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

#inner-color button:hover {
    background-color: rgb(175, 53, 22);
}

#inner-color p:first-of-type {
    width: 60%;
    text-align: center; 
    margin: auto;
    margin-bottom: 12px;
    font-size: 15px;
}

#bottom-review p:first-child {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

#reviews p{
    font-family: 'Source Sans 3';
}

#inner-color hr {
    width: 90%;
    border-width: 0.5px;
}

#pfp {
    display: inline-block;
    width: 8%;
    margin-left: 25px;  
    margin-top: 3px;
}

#stars {
    width: 100px;
    position: absolute;
    top: 738.5%;
    left: 265px;

}

.final-text:nth-child(5) {
    position: absolute;
    top: 737%;
    left: 340px;
    font-size: 12px;
    color:rgb(122, 122, 122)
}

.final-text:nth-child(6) {
    display: flex;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: left;
    margin-top: 40px;
    padding-right: 12px;
}

.final-text:nth-child(3) {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(220, 66, 28);
    text-underline-offset: 4px;
    position: absolute;
    left: 275px;
    top: 730%;
    font-size: 15px;
}

.final-text:nth-child(3):hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.final-text:nth-child(7) {
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.final-text {
    display: inline-flex;
    padding-left: 30px;

}
